*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
  background-color: bisque;
}

.keyboard-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: brown;
  width: 980px;
  margin: 0 auto;
}

.h1 {
  margin: 40px auto;
}

.input-field {
  resize: none;
  height: 200px;
}

.key-button {
  margin: 5px;
  padding: 10px 20px;
  height: 40px;
  background-color: aquamarine;
  border: 2px solid black;
}

.key-button_pressed {
  background-color: green;
}
